<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">#}
{##}
{#    <!-- Optional theme -->#}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>label</th>
            <th>status</th>
            <th>programme</th>
        </tr>
        </thead>
        <tbody>

        {% for rasp in raspb %}

            <tr>
                <td>{{ rasp.label }}</td>
                <td>{{ rasp.status }}</td>
                <td>{{ rasp.programme }}</td>
            </tr>
        {% endfor %}

        {% for rasp in raspb %}
        <div id="donut-example" style="height: 200px;"></div>
                <script>
                    Morris.Donut({
                    element: 'donut-example',
                    data: [
                    {label: "Cadence", value: {{ rasp.cadence }}}
                      ]
                    });

                </script>
            <div id="donut-example1" style="height: 200px;"></div>
                <script>
                    Morris.Donut({
                    element: 'donut-example1',
                    data: [
                    {label: "Vitesse", value: {{ rasp.vitesse }}}
                      ]
                    });

                </script>
        {% endfor %}

        </tbody>
    </table>
</div>





<script>

    $(function () {

        setTimeout(function(){
            window.location.reload();
        }, 10000);

    });

</script>

</body>
</html>